<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <p>
                <a href="http://localhost:59865/Home" class="navbar-brand">Home </a>
                <a href="http://localhost:59865/Home/Resources" class="navbar-brand">Resources </a>
                <a href="http://localhost:59865/Home/Subjects" class="navbar-brand">Subjects </a>
                <a href="http://localhost:59865/Home/About" class="navbar-brand">About </a>
                <a href="http://localhost:59865/Home/Contact" class="navbar-brand">Contact </a>
                <a href="http://localhost:59865/Home/Users" class="navbar-brand">Users </a>
            </p>
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
        </div>
        @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>*@
    </div>
</div>

