@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Math Explained!</h1>
    <p class="lead">Math Explained seeks to provide solutions to more difficult math problems, intuitively!</p>
    @*<p><a href="http://localhost:59865/Problems" class="btn btn-primary btn-lg">Problems &raquo;</a></p>*@
</div>